* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.container-new {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 0px;
  max-width: 450px;
}

.container-new label {
  font-size: 16px;
  margin: 10px;
}

.container-new input {
  width: 350px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  padding: 0 15px;
}

.container-new textarea {
  width: 350px;
  height: auto;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  padding: 0 15px;
  resize: none;
	line-height: 24px;
  overflow: auto;
  white-space: pre-line;
}

.button {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-radius: 3px;
  height: 45px;
  font-size: 16px;
  background: #f05a5b;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}